
<!-- Contact Section -->
<form class="container contact card">
    <div class="row">
        <div class="col-sm-12">
            <p class="my-info">My Email: angela_dyan@hotmail.com</p>
            <p class="my-info">My Phone: (817)944-9024</p>
            <button type="button" class="btn btn-info"><a class="a-button" href="https://www.linkedin.com/in/angela-tooley-7107468/" target="_blank"><i class="fab fa-linkedin"></i>LinkedIn</a></button>  
            <button type="button" class="btn btn-info"><a class="a-button" href="https://github.com/adt315" target="_blank"><i class="fab fa-github-square"></i>GitHub</a></button>  
            <hr> 
            <h1>Contact Me</h1>
        </div>
    </div>
    <div class="form-group">
        <label>Your Name</label>
        <input type="text" class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
        <label>Your Email</label>
        <input type="email" class="form-control" placeholder="Email">
      </div>
    <div class="form-group">
        <label>Message</label>   
        <textarea class="form-control" placeholder="Message"></textarea>
    </div>
        <a href="#" class="btn btn-secondary">Submit</a>
</form>
