
<!-- Portfolio Section -->
<section class="container portfolio card portfolio-card" >
    <div class="row">
        <div class="col-sm-12">
            <h1>Portfolio</h1>
            <hr>
        </div>
    </div>
    <div class="row">     
        <div class="col-xs-12">
            <img class="project" src="./assets/images/password-generator-screenshot.png" alt="Password Generator">
            <h5>Password Generator</h5>
            <a class="project-info" href="https://adt315.github.io/password-generator/">https://adt315.github.io/password-generator/</a>
            <br>
            <a class="project-info" href="https://github.com/adt315/password-generator">https://github.com/adt315/password-generator</a>
        </div>
    </div>
    <div class="row">     
        <div class="col-xs-12">
            <img class="project" src="./assets/images/timed-quiz-screenshot.png" alt="Timed Quiz">
            <h5>Timed Quiz</h5>
            <a class="project-info" href="https://adt315.github.io/timed-quiz/">https://adt315.github.io/timed-quiz/</a>
            <br>
            <a class="project-info" href="https://github.com/adt315/timed-quiz">https://github.com/adt315/timed-quiz</a>
        </div>
    </div> 
    <div class="row">     
        <div class="col-xs-12">
            <img class="project" src="./assets/images/boardolio-screenshot.png" alt="Boardolio">
            <h5>Boardolio</h5>
            <a class="project-info" href="https://metropolis488.github.io/Boardolio/">https://metropolis488.github.io/Boardolio/</a>
            <br>
            <a class="project-info" href="https://github.com/Metropolis488/Boardolio">https://github.com/Metropolis488/Boardolio</a>
        </div>
    </div>
</section>

